*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    background-color: #eceef0;
    line-height: 2.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 2rem;
}